<!DOCTYPE html>
<html lang="en">
<head>
    <title>Alonso is the best</title>
    <link rel="stylesheet" href="/static/styles.css" >
</head>


<body>    
    <div class="header">
      <h1>Alonso's Awesome Page</h1>
    </div>
    
    <div class="row">
        <div class="column side">
            <h2>About me</h2>
            <p>I'm Alonso yeah! I'm from Chile and I believe in world peace. Please be my friend and invite me to dinner please. I don't have much money.</p>
        </div>
      
        <div class="column middle">
            <img src="/static/images\me.png" alt="Alonso looking cool" width="350" height="300" > </img>
        </div>

        <div class="column side">
            <h2>Hobbies</h2>
            <p>I like to listen to whales singing, read books in german and talk about politics to strangers on the street. 
                I once competed in the olympics but I was disqualified for not knowing the rules. I have an obsession with becoming Batman.
        </p>
        </div>
    </div>

    <div class="friends">
        <h2>Follow my Friends!</h2>
        <a href="https://neelam2612.github.io/IMA/"> <img src="/static/images\neelam.png" alt="Neelam" width="300" height="300" > </img> </a>
        <a href="https://peonylaucw.github.io/IMA_2141702_LAUPeony/"> <img src="/static/images\peony.png" alt="Peony" width="300" height="300" > </img> </a>
        <a href="https://mj-lyn.github.io/Lyn-IMA/"> <img src="/static/images\lyn.png" alt="Lyn" width="300" height="300" > </img> </a>
      </div>    

    <div class="footer">
      <p>This website belongs to Alonso Olate. Any unauthorised copy will be severely punished according to international laws</p>
    </div>    


</body>
</html>